@import '/src/assets/styles/_variables.scss';
.activeProfile {
	position: relative;
	.svgDropDawn {
		svg {
			cursor: pointer;
			width: 24px;
			height: 24px;
			:hover {
				path {
					fill: $color-accent;
				}
			}

			@media screen and (max-width: 726px) {
				width: 20px;
				height: 20px;
			}
		}
	}
}
.dropdown {
	position: absolute;
	width: 200px;
	padding: 8px;
	top: 0;
	right: 20px;
	background-color: $bg-color;
	border-radius: 8px;
	z-index: 100;
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 0.8s ease;
	@media screen and (max-width: 726px) {
		width: 140px;
	}
	&.active {
		opacity: 1;
	}
	button {
		display: block;
		width: 100%;
		border-radius: 8px;
		padding: 8px;
		text-align: left;
		border: none;
		background-color: $bg-color;
		cursor: pointer;
		@media (hover: hover) {
			&:hover {
				color: $color-accent;
			}
		}
	}
}
