@import '/src/assets/styles/_variables.scss';

.containerCard {
	display: flex;
	gap: 20px;
	padding: 24px;
	background-color: $white;
	border-radius: 16px;
	width: 360px;
	height: 170px;
	&.unarchive {
		filter: grayscale(100%);
	}
	@media screen and (max-width: 726px) {
		flex-direction: column;
		width: 162px;
		height: 242px;
		padding: 16px;
	}
}
.imgProfile {
	img {
		width: 112px;
		height: 120px;
		@media screen and (max-width: 726px) {
			width: 130px;
			height: 120px;
		}
	}
}
.dataCard {
	width: 100%;
	@media screen and (max-width: 726px) {
		height: 100%;
	}
	.blockProfileData {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		.containerProfile {
			display: flex;
			justify-content: space-between;
			.profileBlock {
				display: flex;
				flex-direction: column;
				gap: 4px;
				.profileName {
					font-size: clamp(14px, 1.5vw, 20px);
					color: $color-accent;
				}
				.profileWork {
					color: $color-font-light-black;
					font-size: clamp(10px, 1.5vw, 16px);
				}
			}
		}
		.profileCity {
			font-size: clamp(10px, 1.5vw, 16px);
			color: $color-font-light-grey;
		}
	}
}
