@import '/src/assets/styles/_variables.scss';
.containerBreadCrumbs {
	display: flex;
	align-items: center;
	padding: 20px 0;
}
.crumbs {
	display: flex;
	align-items: center;
	.arrow {
		width: 24px;
		height: 24px;
	}
}

.breadcrumb {
	font-weight: 600;
	color: $color-font-grey;
	text-decoration: none;
	transition: color 0.3s;
	font-size: 20px;
}
