// colors
$white: #fdfdfd;
$black: #161616;
$bg-color: #f4f4f4;
$color-font-black: #161616;
$color-font-light-black: #595959;
$color-font-grey: #9c9c9c;
$color-font-light-grey: #dadada;
$color-accent: #22a0bc;
