* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	&:focus {
		outline: none;
	}
	font-family: Roboto, sans-serif;
	list-style: none;
	font-optical-sizing: auto;
	font-style: normal;
	text-decoration: none;
}

*::-webkit-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}
*:-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*::-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

img {
	max-width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
input {
	border: none;
}
button {
	border: none;
}

a {
	border: none;
}
body {
	background-color: rgb(61, 61, 61);
}
